
<% include header.ejs %> 
<% include radio.ejs %> 
<% include schedule.ejs %>    
<main>
    <div class="wrapper">
        <div id="about">
            <h1 class="about-header">
                about
            </h1>
            <p class="about-decription">.</p>
        </div>
    </div>
</main>
<% include footer.ejs %> 
<% include chat.ejs %>
<% include scripts.ejs %> 
</body>
</html>