
<% include header.ejs %> 
<% include radio.ejs %>   
<% include schedule.ejs %>  
<main>
    <div class="wrapper">
        privet poka 
    </div>
</main>
<% include footer.ejs %> 
<% include chat.ejs %>
<% include scripts.ejs %> 
</body>
</html>